@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .editable h1 {
    @apply text-2xl
  }
  .editable h2 {
    @apply text-xl
  }
  .editable h3 {
    @apply text-lg
  }
  .editable a {
    @apply text-primary
  }
  .medium-editor-toolbar {
    @apply bg-white border rounded-xl
  }
  blockquote {
    @apply pl-2 border-l-2 border-primary
  }
  .medium-toolbar-arrow-under:after {
    @apply border-primary bg-white
  }
  .medium-editor-anchor-preview {
    @apply bg-white
  }
  .medium-editor-anchor-preview a {
    @apply border
  }
}

/* Noto Sans */
@font-face {
  font-family: "NotoSans-Black";
  font-weight: 900;
  src: url(../fonts/NotoSans-Black.ttf);
}
@font-face {
  font-family: "NotoSans-ExtraBold";
  font-weight: 800;
  src: url(../fonts/NotoSans-ExtraBold.ttf);
}
@font-face {
  font-family: "NotoSans-Bold";
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.ttf);
}
@font-face {
  font-family: "NotoSans-SemiBold";
  font-weight: 600;
  src: url(../fonts/NotoSans-SemiBold.ttf);
}
@font-face {
  font-family: "NotoSans-Medium";
  font-weight: 500;
  src: url(../fonts/NotoSans-Medium.ttf);
}
@font-face {
  font-family: "NotoSans-Normal";
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "NotoSans-Light";
  font-weight: 300;
  src: url(../fonts/NotoSans-Light.ttf);
}
@font-face {
  font-family: "NotoSans-ExtraLight";
  font-weight: 200;
  src: url(../fonts/NotoSans-ExtraLight.ttf);
}
@font-face {
  font-family: "NotoSans-Thin";
  font-weight: 100;
  src: url(../fonts/NotoSans-Thin.ttf);
}
